.mensagem-warm {
	font-weight: normal;
	color: lightblue;
}

.mensagem-info {
	font-weight: normal;
	color: green;
}

.mensagem-error {
	font-weight: normal;
	color: red;
}

.mensagem-fatal {
	font-weight: bold;
	color: black;
}