.txt-data {
	width: 72px;
}

.txt-hora-min {
	width: 40px;
}

.txt-hora-min-seg {
	width: 56px;
}

.txt-timestamp {
	width: 110px;
}

.txt-alpha {
	width: 200px;
}

.txt-number {
	width: 100px;
}

.txt-moeda {
	width: 100px;
}

.txt-cnpj {
	width: 120px;
}

.txt-cpf {
	width: 100px;
}

.txt-rg {
	width: 65px;
}

.txt-telefone {
	width: 70px;
}

.txt-ddd-telefone {
	width: 95px;
}

.txt-cep {
	width: 70px;
}
